.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 100%;
    grid-gap: 3px;
    border: solid 2px #0d0d0d;
}

img{
    width: 150px;
    border: solid 2px #0d0d0d;
    
}

